/* Définition des polices personnalisées */

@font-face {
  font-family: 'Pokemon'
  src: url('Pokemon_Solid.ttf');
}

/* Eléments principaux de la page */

body
{
    background: url('img/web/fond_jaune.png');
    background-repeat: repeat-x repeat-y;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: black;
}

#bloc_page
{
    width: 90%;
    margin: auto;
}

section h1, footer h1, nav a
{
    font-family: Dayrom, serif;
    font-weight: normal;
    text-transform: uppercase;
}

/* Header */

header
{
    background: url('img/web/separateur.png') repeat-x bottom;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#titre_principal
{
    display: flex;
    flex-direction: column;
}

#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#logo img
{
    width: 59px;
    height: 60px;
}

header h1
{
    font-family: 'Pokemon', serif;
    font-size: 2.5em;
    font-weight: normal;
    margin: 0 0 0 10px;
}

header h2
{
    font-family: Dayrom, serif;
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
}

/* Navigation */

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

/* Corps */

section
{
    display: flex;
    margin-bottom: 20px;
}

content, aside
{
    text-align: justify;
}

content
{
    background: url('img/web/back_with.png');
	flex: 4;
    position: relative;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: black;
    font-size: 0.9em;
}

.ico_categorie
{
    vertical-align: middle;
    margin-right: 8px;
}

content p
{
    font-size: 1em;
}

aside
{
    background: url('img/web/back_with.png');
    flex: 1.2;
    position: relative;
    background-color: #706b64;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: black;
    font-size: 0.9em;
	margin-left: 10px;
}

#fleche_bulle
{
    position: absolute;
    top: 100px;
    left: -12px;
}

#photo_zozor
{
    text-align: center;
}

#photo_zozor img
{
    border: 1px solid #181818;
}

aside img
{
    margin-right: 5px;
}

/* Footer */

footer
{
    display: flex;
    background:  url('img/web/separateur.png') repeat-x top;
    padding-top: 25px;
}

footer p, footer ul
{
    font-size: 0.8em;
}

footer h1
{
    font-size: 1.1em;
}


#contact
{
    width: 28%;
}

#mes_photos
{
    width: 35%;
}

#mes_amis
{
    width: 31%;
}

#mes_photos img
{
    margin-right: 2px;
}

#listes_amis
{
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}

#mes_amis ul
{
    list-style-image: url('img/web/ico_liensexterne.png');
    padding-left: 2px;
}

#mes_amis a
{
    text-decoration: none;
    color: #760001;
}

#Global {
	display: flex;
}

#Global #gauche {
    width:50%;
}
#Global #droite {
    width:50%; 
	margin-left: 10px;	
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
	margin-left:20%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

input
{
	text-align:center;
	height: 25px;
	width: 300px;
}
